* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

button {
  padding: 6px;
  background-color: #6495ef;
  color: black;
  border: 0;
  display: flex;
  width: 75px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20%;
  background-color: #1f2937;
}

.logo {
  /* transform cursor when hover above */
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  /* 0px on the top, 20px left and right */
  padding: 0px 20px;
}

/* Content 1 */
.content-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20%;
  background-color: #1f2937;
  color: white;
}

.content-1-l {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 30px;
}

.content-1-r {
  background-color: #2f4f4f;
  padding: 150px 200px;
  display: flex;
}

/* Random Info Line */
.random {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
  padding: 20px;
}

/* Content 2 */
.content-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20%;
  gap: 50px;
  padding-bottom: 50px;
}

.content-2-1-box {
  display: flex;
  border: 2px solid #3882f6;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  color: white;
}

/* Content 3 */
.content-3 {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 30px 27%;
}

.quote {
  font-size: 25px;
  font-style: italic;
}

.thor {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

/* Content 4 */
.content-4 {
  padding: 30px 20%;
}
.container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  padding: 20px 20px;
}

.content-4-left {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 30px;
  font-size: 20px;
  font-weight: bold;
}

.content-4-right {
  display: flex;
  padding-right: 150px;
  margin-left: 50px;
}
